body{
	margin: 0;
	overflow: hidden;
}
.outerPan{
	width: 25%;
	position: absolute;
	right: -25%;
	height:100%;
	top:0;
	z-index: 3;
}

.mainPan{
	height: 100%;
	background: white;
	position: relative;
	 box-shadow:-5px 0 50px -5px #DBDBDB;
}
.topTitle{
	width: 100%;
	background: #FFFFFF;
	color: white;
	text-align: center;
	height: 40px;
	line-height: 40px;
	font-size: 16px;
	color: #333333;
	border-top: 4px solid #0c9b8d;
	border-bottom: 1px solid #CCCCCC;
}
.topTitle>img{
	margin-bottom: -5px;
	height: 22px;
	width: 22px;
	margin-right: 8px;
}
.tipsPan{
	overflow-y: auto;
	height: 83%;
	padding: 20px 20px;
	font-size: 14px;
	color: #333333;
	border-left: 1px solid #EAEAEA;
}
.tipsPan::-webkit-scrollbar {display:none}
.arrow,.arrow1{
	width: 50px;
	height: 130px;
	border-radius: 10px  0 0 10px;
	position: absolute;
	left: -49px;
	top: 50%;
	margin-top: -61px;
	background: white;
	box-shadow:-5px 0 30px -5px #dbdbdb;
}
.arrow{
	display: none;
}
.arrow>img,.arrow1>img{
	width: 14px;
	height: 36px;
	margin-left: 18px;
	margin-top: 47px;
}
.arrow1>img{
	transform: rotate(180deg);
}
.tipsPan>img{
	width: 100%;
	height: auto;
	margin-top: 30px;
	margin-bottom: 30px
}


.mengban{
	position: absolute;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.1);
	top: 0;
	left: 0;
	z-index: 2;
	display: none;
}