<table lay-filter="demo" id="demo" class="layui-table" lay-data="{id: 'js-table', height: 'full-150', cellMinWidth: 200, page: false, limit:20, url:'{:url('StoreRole/index')}',limits:[20, 40, 60, 80, 100],defaultToolbar: ['filter'], toolbar: '#toolbarDemo',text: {none: '暂无相关数据'}}">
    <thead>
    <tr>
        <th lay-data="{field:'title_show', width:400}">角色名称</th>
        <th lay-data="{field:'format_store_name', width:400}">所属门店</th>
        <th lay-data="{field:'sort', width:100}">排序</th>
        <th lay-data="{field:'format_add_user', width:200}">操作用户</th>
        <th lay-data="{field:'format_add_time', width:200}">操作时间</th>
        <th lay-data="{toolbar: '#operation'}">操作</th>
    </tr>
    </thead>
</table>

<script type="text/html" id="switchTpl">
    <input type="checkbox" name="status" lay-skin="switch" data-id="{{d.id}}" lay-text="启用|停用" lay-filter="statusDemo" {{ d.status == 1 ? 'checked' : '' }}>
</script>
<script type="text/html" id="toolbarDemo">
    <div class="layui-btn-container">
        <button class="layui-btn layui-btn-sm j-add">添加</button>
    </div>
</script>
<script type="text/html" id="operation">
    <a class="layui-btn layui-btn-xs j-edit" data-href="/admin/store_role/edit" lay-event="edit">编辑</a>
    <a class="layui-btn layui-btn-xs j-menu" data-href="/admin/store_role/setMenu" lay-event="menu">分配权限</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="drop" >删除</a>
</script>

