<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>权限管理</title>
		<link rel="stylesheet" type="text/css" href="../../../public/static/public/layui/css/layui.css"/>
		<link rel="stylesheet" type="text/css" href="../../static/css/author.css"/>
	</head>
	<body>
		<div class="layui-row container">
			<div class="main-content">
				<table class="layui-table">
				  <colgroup>
				    <col width="200">
				    <col>
				  </colgroup>
				  <thead>
				    <tr>
				      <th>模块</th>
				      <th>方法</th>
				    </tr> 
				  </thead>
				  <tbody>
				    <tr>
						<td class="listTitle">
							<span class="text">首页</span>
							<span class="faCheckBox"></span>
						</td>
						<td class="listContent">
							<ul >
								<li>
									<span class="checkBox"></span>
									<span class="text">首页</span>
								</li>
							</ul>
						</td>						
				    </tr>
				    <tr>
						<td class="listTitle">
							<span class="text">我的地盘</span>
							<span class="faCheckBox"></span>
						</td>
						<td class="listContent">
							<ul>
								<li>
									<span class="checkBox"></span>
									<span class="text">首页</span>
								</li>
								<li>
									<span class="checkBox"></span>
									<span class="text">首页</span>
								</li>
								<li>
									<span class="checkBox"></span>
									<span class="text">首页</span>
								</li>
								<li>
									<span class="checkBox"></span>
									<span class="text">首页</span>
								</li>
								<li>
									<span class="checkBox"></span>
									<span class="text">我的地盘</span>
								</li>	
								<li>
									<span class="checkBox"></span>
									<span class="text">我的地盘</span>
								</li>
								<li>
									<span class="checkBox"></span>
									<span class="text">我的地盘</span>
								</li>		
								<li>
									<span class="checkBox"></span>
									<span class="text">我的地盘</span>
								</li>	
								<li>
									<span class="checkBox"></span>
									<span class="text">我的地盘</span>
								</li>									
							</ul>
						</td>						
				    </tr>
				    <tr>
						<td class="listTitle">
							<span class="text">产品视图</span>
							<span class="faCheckBox"></span>
						</td>
						<td class="listContent">
							<ul>
								<li>
									<span class="checkBox"></span>
									<span class="text">首页</span>
								</li>
								<li>
									<span class="checkBox"></span>
									<span class="text">首页</span>
								</li>
								<li>
									<span class="checkBox"></span>
									<span class="text">首页</span>
								</li>
								<li>
									<span class="checkBox"></span>
									<span class="text">首页</span>
								</li>
								<li>
									<span class="checkBox"></span>
									<span class="text">我的地盘</span>
								</li>	
								<li>
									<span class="checkBox"></span>
									<span class="text">我的地盘</span>
								</li>
								<li>
									<span class="checkBox"></span>
									<span class="text">我的地盘</span>
								</li>		
								<li>
									<span class="checkBox"></span>
									<span class="text">我的地盘</span>
								</li>	
								<li>
									<span class="checkBox"></span>
									<span class="text">我的地盘</span>
								</li>	
								<li>
									<span class="checkBox"></span>
									<span class="text">我的地盘</span>
								</li>	
								<li>
									<span class="checkBox"></span>
									<span class="text">我的地盘</span>
								</li>								
							</ul>
						</td>						
				    </tr>
					<tr>
						<td class="listTitle">
							<span class="text">首页</span>
							<span class="faCheckBox"></span>
						</td>
						<td class="listContent">
							<ul >
								<li>
									<span class="checkBox"></span>
									<span class="text">首页</span>
								</li>
							</ul>
						</td>						
				    </tr>	
					<tr>
						<td class="listTitle">
							<span class="text">全选</span>
							<span class="allCheckBox"></span>
						</td>
						<td class="listContent allCheckCon">
							<ul >
								<li>
									<button class="allCkButton">全 选</button>
									<a href=""><button class="allCkBack">返 回</button></a>
								</li>
							</ul>
						</td>						
				    </tr>				    
				  </tbody>
				</table>				
			</div>
		</div>
		<script src="../../../public/static/public/fullcalendar/fullcalendar/lib/jquery.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../../public/static/public/layui/layui.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../static/js/author.js" type="text/javascript" charset="utf-8"></script>
	</body>
</html>
