<form class="layui-form css-eidtform-dialog" id="editForm">
    <div class="layui-form-item">
        <label class="layui-form-label">分组名称</label>
        <div class="layui-input-block">
            <input type="text" name="name" lay-verify="title" autocomplete="off" placeholder="分组名称" class="layui-input css-width-dialog" value="{$info.name}">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">排序</label>
        <div class="layui-input-block">
            <input type="text" name="sort" lay-verify="title" autocomplete="off" placeholder="分类名称" class="layui-input css-width-dialog" value="{$info.sort}">
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-input-block">
            <input type="hidden" name="id" value="{$info.id|default=0}">
            <input type="submit" class="layui-btn" lay-filter="submit" value="提交" lay-submit/>
        </div>
    </div>
</form>
