<div class="layui-form-item layui-input-inline">
    <label class="layui-form-label">操作时间：</label>
    <div class="layui-input-inline">
        <input type="text" name="start_time" id="start_time" placeholder="请选择开始日期" autocomplete="off" class="layui-input startTime" value="{$start_time|default=''}" readonly="readonly">
    </div>
</div>
<div class="layui-form-item layui-input-inline">
    <div class="layui-input-inline">
        <input type="text" name="end_time" id="end_time" placeholder="请选择结束日期" autocomplete="off" class="layui-input endTime" value="{$end_time|default=''}" readonly="readonly">
    </div>
</div>