<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>登录页</title>
		<link rel="stylesheet" type="text/css" href="../../../../public/static/public/layui/css/layui.css" />
		<link rel="stylesheet" type="text/css" href="../../static/css/login.css" />
		<link rel="stylesheet" type="text/css" href="../../static/css/base.css" />
		<!-- <link rel="stylesheet" type="text/css" href="../../static/css/layuiAdmin.css" /> -->
	</head>
	<body>
		<div class="mainPan">
			<p class="title">江苏倍速世纪智能化科技有限公司</p>
			<p class="sTitle">后台管理系统</p>
			<div class="loginPan">
				<img src="../../static/images/bg.png" class="bgImg">
				<div class="inputPan">
					<img src="../../static/images/user.gif">
					<input type="text" name="" id="" value="" class="userName" placeholder="用户名" />
				</div>
				<div class="inputPan">
					<img src="../../static/images/pass.gif">
					<input type="password" name="" id="" value="" class="userName" placeholder="密码" />
				</div>
				<div class="inputPan">
					<img src="../../static/images/login.gif">
					<input type="text" name="" id="" value="" class="yanzhen" placeholder="图形验证码" />
					<div style="float: right;">
						<img src="https://www.oschina.net/action/user/captcha" class="layadmin-user-login-codeimg" id="LAY-user-get-vercode">
					</div>

				</div>
				
				<div class="labelPan">
					<!-- <span class="remember"><input type="checkbox" name="" id="" value="" />记住密码</span> -->
					<label>
						<input type="checkbox" /> 
						记住密码
						<div class="show-box" /> 
						</div>
					</label>
					<span class="forgetpass">忘记密码？</span>
				</div>
				<div class="inputPan loginBtn">
					<button type="button">登录</button>
				</div>
				<div class="inputPan ">
					<div class="social">
						<span>社交账户登录</span> <a href=""><img src="../../static/images/qq.png"></a><a href=""><img src="../../static/images/weixin.png"></a>
					</div>
					<span class="register">
						注册账号
					</span>
				</div>
			</div>

		</div>


		<script src="../../../../public/static/public/layui/layui.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../../public/static/public/js/jquery-3.2.1.js" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript">


		</script>
	</body>
</html>
