<body>

    <div class="bigTitle">
        <p>皮肤设置</p>
    </div>
    <div class="container">
        <div class="txt">
            皮肤选择
        </div>
        <div class="skinChose">
            <div class="mrSelected">
                <img src="/static/admin/img/login/loginSkin/bg4.png" alt=""/>
                <div class="checkBtn">
                    {if $loginType == 'loginSkin'}
                    <button class="layui-btn layui-btn-xs" style="background: rgb(0, 150, 136); color: rgb(255, 255, 255);">使用</button>
                    {else}
                    <button class="layui-btn layui-btn-xs">已使用</button>
                    {/if}
                </div>
                <div class="img" {if $loginType == 'loginSkin'}style="display: none;"{/if}>
                    <img src="/static/admin/img/login/loginSkin/selected.png" alt=""/>
                </div>
            </div>
            <div class="selected">
                {if $loginBg}
                <img id="bgImg" src="{$loginBg}" alt=""/>
                {else}
                <img id="bgImg" src="/static/admin/img/login/loginSkin/bg4.png" alt=""/>
                {/if}
                <div class="img" {if $loginType == 'loginSkin'}style="display: block;"{/if}>
                    <img src="/static/admin/img/login/loginSkin/selected.png" alt=""/>
                </div>
                <div class="mask1">
                    <p>名字</p>
                    <div>
                        <button class="layui-btn layui-btn-xs bgSelect">选择背景</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="modal" style="display:none;">
        <div class="imgBox">
            <img src="/static/admin/img/login/loginSkin/bg1.png" alt=""/>
            <div class="img" {if $bg_path == 'bg1'} style="display: block;"{/if}>
                <img src="/static/admin/img/login/loginSkin/selected.png" alt=""/>
            </div>
            <div class="mask2">
                <div class="btn">
                    {if $bg_path == 'bg1'}
                    <button class="layui-btn layui-btn-xs use" disabled="disabled" style="background: rgb(221, 221, 221);color: rgb(0, 0, 0);">已使用</button>
                    {else}
                    <button class="layui-btn layui-btn-xs use" >使用</button>
                    {/if}
                </div>
            </div>
        </div>
        <div class="imgBox">
             <img src="/static/admin/img/login/loginSkin/bg2.png" alt=""/>
            <div class="img" {if $bg_path == 'bg4'} style="display: block;"{/if}>
                <img src="/static/admin/img/login/loginSkin/selected.png" alt=""/>
            </div>
            <div class="mask2">
                <div class="btn">
                    {if $bg_path == 'bg2'}
                    <button class="layui-btn layui-btn-xs use" disabled="disabled" style="background: rgb(221, 221, 221);color: rgb(0, 0, 0);">已使用</button>
                    {else}
                    <button class="layui-btn layui-btn-xs use" >使用</button>
                    {/if}
                </div>
            </div>
        </div>
        <div class="imgBox">
            <img src="/static/admin/img/login/loginSkin/bg3.png" alt=""/>
            <div class="img" {if $bg_path == 'bg3'} style="display: block;"{/if}>
                <img src="/static/admin/img/login/loginSkin/selected.png" alt=""/>
            </div>
            <div class="mask2">
                <div class="btn">
                    {if $bg_path == 'bg3'}
                    <button class="layui-btn layui-btn-xs use" disabled="disabled" style="background: rgb(221, 221, 221);color: rgb(0, 0, 0);">已使用</button>
                    {else}
                    <button class="layui-btn layui-btn-xs use" >使用</button>
                    {/if}
                </div>
            </div>
        </div>
        <div class="imgBox">
            <img src="/static/admin/img/login/loginSkin/bg4.png" alt=""/>
            <div class="img" {if $bg_path == 'bg4'} style="display: block;"{/if}>
                <img src="/static/admin/img/login/loginSkin/selected.png" alt=""/>
            </div>
            <div class="mask2">
                <div class="btn">
                    {if $bg_path == 'bg4'}
                    <button class="layui-btn layui-btn-xs use" disabled="disabled" style="background: rgb(221, 221, 221);color: rgb(0, 0, 0);">已使用</button>
                    {else}
                    <button class="layui-btn layui-btn-xs use" >使用</button>
                    {/if}
                </div>
            </div>
        </div>
    </div>
    <script>
        $(function(){
//            var originSrc = $("#bgImg").attr("src");
            $(".bgSelect").click(function(){
                layer.open({
                    type: 1,
                    title: ['背景选择', 'font-size:14px;color:#0c9b8d;background-color:#fff;border-bottom:none'],
                    skin: 'layui-layer-demo', //样式类名
                    closeBtn: 0, //不显示关闭按钮
                    anim: 17,
                    shadeClose: true, //开启遮罩关闭
                    content: $("#modal"),
                    end:function(){
                        $("#modal").css("display","none");
//                        $("#bgImg").attr("src",originSrc);
                    }
                });
            });
            $("#modal").on("click",".use",function(){
                var imgSrc=$(this).parent().parent().prev().prev().attr("src");
                if(imgSrc){
                    $.ajax({
                        type:"post",
                        url:"{:url('admin/login/loginSkin')}",   //数据传输的控制器方法
                        data:{loginBg:imgSrc},//这里data传递过去的是序列化以后的字符串
                        success:function(data){
                            // console.log(data)
                        }
                    });
                }
                $("#bgImg").attr("src",imgSrc);
                $(".selected .img").css("display","block");
                $(".mrSelected .img").css("display","none");
                $("#modal .img").css("display","none");
                $(".mrSelected .checkBtn button").html("使用");
                $(".mrSelected .checkBtn button").css("background","#009688");
                $(".mrSelected .checkBtn button").css("color","#fff");
                $(this).parent().parent().prev().css("display","block");
                $(this).attr("disabled","disabled").parent().parent().parent().siblings().find(".use").removeAttr("disabled");
                $(this).css("background","#ddd").parent().parent().parent().siblings().find(".use").css("background","#009688");
                $(this).css("color","#000").parent().parent().parent().siblings().find(".use").css("color","#fff");
                $(this).html("已使用").parent().parent().parent().siblings().find(".use").html("使用");

            });
            $(".checkBtn button").click(function(){
                $.ajax({
                    type:"post",
                    url:"{:url('admin/login/loginSkin')}",   //数据传输的控制器方法
                    data:{cleanCookie:1},//这里data传递过去的是序列化以后的字符串
                    success:function(data){
                        // console.log(data)
                    }
                });
                if($(".selected .img").length==1){
                    $(this).parent().next().css("display","block");
                    $(".mrSelected .checkBtn button").html("已使用");
                    $(".mrSelected .checkBtn button").css("background","#ddd");
                    $(".mrSelected .checkBtn button").css("color","#000");
                    $(".selected .img").css("display","none");
                }
            });
        })

    </script>
</body>
</html>